* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  transition-duration: 0.5s;
}

header {
  width: 100%;
  height: 80px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 150%;
}

header a:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: yellow;
  transition: width 0.1s ease-in-out;
}

header a:hover:after {
  width: 100%;
}

header a.active {
  color: yellow;
}

/* main {
  min-height: calc(100vh - 130px);
  max-width: 1200px;
  margin: 0 auto;
  background-color: lightgray;
} */

/* footer {
  max-width: 1200px;
  margin: 0 auto;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: white;
} */

/* .black_border {
  color: gold;
  font-size: 150%;
} */

.headtotal {
  color: green;
  font-size: 75%;
  border: 1px solid green;
  padding: 10px;
  border-radius: 50px;
}

.headlist {
  width: 800 px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.headlist > input {
  width: 250 px;
  height: 50px;
  font-size: 125%;
}

.headlist > button {
  background: none;
  width: 150 px;
  height: 40px;
  font-size: 100%;
  padding: 0 10px;
  border-radius: 10px;
}

.btngreen {
  color: green;
  border: 1px solid green;
}

.btnred {
  color: red;
  border: 1px solid red;
}

.tablehead {
  width: 100%;
  min-width: 800px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid grey;
}

.tablehead > span {
  width: 250px;
  height: 40px;
  font-size: 125%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.tablein {
  width: 100%;
  min-width: 800px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid grey;
}

.tablein > span {
  width: 250px;
  height: 40px;
  font-size: 125%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.balance {
  width: 100%;
  height: 160px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 125%;
}

.balance > div {
  width: 800px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.balancegreen {
  color: green;
  font-size: 75%;
  border: 1px solid green;
  padding: 10px;
  border-radius: 50px;
}

.balancered {
  color: red;
  font-size: 75%;
  border: 1px solid red;
  padding: 10px;
  border-radius: 50px;
}
